%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{deps, [
        {setup, ".*", {git, "https://github.com/uwiger/setup.git", "1.2.7"}},
	{bert , ".*", {git, "git@github.com:Feuerlabs/bert.git", "0.8"}},
	{exo  , ".*", {git, "git@github.com:Feuerlabs/exo.git",  "0.6.5"}},
	{gproc, ".*", {git, "git@github.com:Feuerlabs/gproc.git",  "v0.2.10"}},
        {kvdb , ".*", {git, "git@github.com:Feuerlabs/kvdb.git", "0.8.2"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
