%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{deps, [
        {setup, ".*", {git, "git://github.com/Feuerlabs/setup.git", "1.2.9"}},
	{bert , ".*", {git, "git://github.com/Feuerlabs/bert.git", "1.3"}},
        {gsms, ".*", {git, "git://github.com/tonyrog/gsms.git", "4119ecd7bc04d83e43f69d1d5c7437746a5e6e3d"}},
        {gproc, ".*", {git, "git://github.com/Feuerlabs/gproc.git", "0.2.17"}},
        {kvdb , ".*", {git, "git://github.com/Feuerlabs/kvdb.git", "1.4.5"}},
        {yang, ".*", {git, "git://github.com/Feuerlabs/yang.git", "1.1"}},
        {lager,".*",{git,"git://github.com/basho/lager", "3.0.1"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
