%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{deps, [
        {setup, ".*", {git, "https://github.com/uwiger/setup.git", "HEAD"}},
	{bert , ".*", {git, "git://github.com/Feuerlabs/bert.git", "1.0"}},
	{exo  , ".*", {git, "git://github.com/Feuerlabs/exo.git",  "1.0"}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
        {kvdb , ".*", {git, "git://github.com/Feuerlabs/kvdb.git", "1.0"}},
        {yang, ".*", {git, "git://github.com/Feuerlabs/yang.git", "1.0"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
