%% -*- erlang -*-
{ok,DbApps,_} = file:path_script([code:priv_dir(kvdb)], "backends.script").
[
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   compiler,
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   bert,
   gproc]
  ++ DbApps
  ++ [sext,
      kvdb,
      exoport]},
 {env,
  [{kvdb, [
	   {databases, [
			{kvdb_conf, [{file, "db/kvdb_conf"},
				     {backend, leveldb},
				     {tables, [data]},
				     {encoding, {raw, term, term}},
				     {schema, kvdb_schema_events}]}
		       ]}
        ]}
  ]}
].
