%% -*- erlang -*-
{ok,DbApps,_} = file:path_script([code:priv_dir(kvdb)], "backends.script").
[
 {install, true},
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   compiler,
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   bert,
   gproc]
  ++ DbApps
  ++ [sext,
      kvdb,
      exoport]},
 {env,
  [{exoport, [
	      {kvdb_databases, [
				{kvdb_conf, [{file, "$DATA_DIR/kvdb_conf"},
					     {backend, leveldb},
					     {tables, [data]},
					     {encoding, {raw, term, term}},
					     {schema, kvdb_schema_events}]}
			       ]}
        ]}
  ]}
].
